@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  font-size: 0.9rem;
  color: #808080;
  width: 100%;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  color: #000;
}

/* ----------------Styling the Header---------------- */
header,
.optionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.pathContainer,
.rightsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.55rem;
  padding: 0.2rem;
}

.headerIcon {
  height: 0.6rem;
  width: 0.6rem;
}

.flexHeaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.blueText {
  color: #0000ff;
  font-weight: 600;
}

/* ----------------Styling the Main Container---------------- */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  width: 50%;
}

.optionsContainer {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 100%;
}

.listItem {
  padding: 0.2rem;
}

.greenBackground,
.avatar {
  border-radius: 2px;
}

.greenBackground {
  background-color: #7fffd4;
  font-weight: 600;
}

.avatar {
  background-color: #d84e4e;
  color: #f3f2f2;
}

.borderDiv {
  border-top: 1px solid #d3d3d3;
  width: 100%;
}

.instruction {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.inputText {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.7rem;
}

/* ----------------Styling the Popup Window---------------- */
.popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  padding: 0.5rem;
  border-radius: 4px;
}

.hide {
  display: none;
}

.popupHeading {
  color: #000;
  font-size: 0.8rem;
}

.popupdescription {
  font-size: 0.7rem;
}

.popupButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  border: none;
  background-color: #fff;
  width: 100%;
  padding: 0.2rem;
  text-align: left;
  cursor: pointer;
}

.popupButton:hover {
  background-color: #c7c4c4;
}

.tIcon {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #808080;
}

.buttonHeading {
  font-size: 0.75rem;
}

.buttonDescription {
  font-size: 0.6rem;
  color: #808080;
  margin-top: 0.2rem;
}
