body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

/* ----------------Styling the Header---------------- */
header,
.optionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.pathContainer,
.rightsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: gray;
  list-style: none;
  font-size: 0.55rem;
  padding: 0.2rem;
  margin: 0;
}

.headerIcon {
  height: 0.6rem;
  width: 0.6rem;
}

.flexHeaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.blueText {
  color: blue;
  font-weight: 600;
}

/* ----------------Styling the Main Container---------------- */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  width: 50%;
}

.optionsContainer {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 100%;
  padding: 0;
}

.listItem {
  padding: 0.2rem;
}

.greenBackground,
.avatar {
  border-radius: 2px;
}

.greenBackground {
  background-color: #7fffd4;
  font-weight: 600;
}

.avatar {
  background-color: #d84e4e;
  color: #f3f2f2;
}

.borderDiv {
  border-top: 1px solid #d3d3d3;
  width: 100%;
}

.instruction {
  font-size: 0.7rem;
  color: gray;
  line-height: 1.2rem;
}

#textInput {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.popup {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.popup button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #f4f4f4;
}
