body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pathContainer,
.rightsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: gray;
  list-style: none;
  font-size: 0.55rem;
  padding: 0.2rem;
  margin: 0;
}

.headerIcon {
  height: 0.6rem;
  width: 0.6rem;
}

.flexHeaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.blueText {
  color: blue;
  font-weight: 600;
}

#textInput {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.popup {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.popup button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #f4f4f4;
}

.typed-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
